
.animate-delay-0_2s {
  animation-delay: 0.2s;
}
.animate-delay-0_4s {
  animation-delay: 0.4s;
}
.animate-delay-0_6s {
  animation-delay: 0.6s;
}
.animate-delay-0_8s {
  animation-delay: 0.8s;
}
.animate-delay-1s {
  animation-delay: 1s;
}
.animate-delay-1_2s {
  animation-delay: 1.2s;
}
.animate-delay-1_4s {
  animation-delay: 1.4s;
}
.animate-delay-1_6s {
  animation-delay: 1.6s;
}
.animate-delay-1_8s {
  animation-delay: 1.8s;
}
.animate-delay-2s {
  animation-delay: 2s;
}
.animate-delay-2_2s {
  animation-delay: 2.2s;
}
.animate-delay-2_4s {
  animation-delay: 2.4s;
}
.animate-delay-2_6s {
  animation-delay: 2.6s;
}
.animate-delay-2_8s {
  animation-delay: 2.8s;
}
.animate-delay-3s {
  animation-delay: 3s;
}
.animate-delay-3_2s {
  animation-delay: 3.2s;
}
.animate-delay-3_4s {
  animation-delay: 3.4s;
}
.animate-delay-3_6s {
  animation-delay: 3.6s;
}
.animate-delay-3_8s {
  animation-delay: 3.8s;
}
.animate-delay-4s {
  animation-delay: 4s;
}
.animate-delay-4_2s {
  animation-delay: 4.2s;
}
.animate-delay-4_4s {
  animation-delay: 4.4s;
}
.animate-delay-4_6s {
  animation-delay: 4.6s;
}
.animate-delay-4_8s {
  animation-delay: 4.8s;
}
.animate-delay-5s {
  animation-delay: 5s;
}
.animate-delay-5_2s {
  animation-delay: 5.2s;
}
.animate-delay-5_4s {
  animation-delay: 5.4s;
}
.animate-delay-5_6s {
  animation-delay: 5.6s;
}
.animate-delay-5_8s {
  animation-delay: 5.8s;
}
.animate-delay-6s {
  animation-delay: 6s;
}
.animate-delay-6_2s {
  animation-delay: 6.2s;
}
.animate-delay-6_4s {
  animation-delay: 6.4s;
}
.animate-delay-6_6s {
  animation-delay: 6.6s;
}
.animate-delay-6_8s {
  animation-delay: 6.8s;
}
.animate-delay-7s {
  animation-delay: 7s;
}
.animate-delay-7_2s {
  animation-delay: 7.2s;
}
.animate-delay-7_4s {
  animation-delay: 7.4s;
}
.animate-delay-7_6s {
  animation-delay: 7.6s;
}
.animate-delay-7_8s {
  animation-delay: 7.8s;
}
.animate-delay-8s {
  animation-delay: 8s;
}
.animate-delay-8_2s {
  animation-delay: 8.2s;
}
.animate-delay-8_4s {
  animation-delay: 8.4s;
}
.animate-delay-8_6s {
  animation-delay: 8.6s;
}
.animate-delay-8_8s {
  animation-delay: 8.8s;
}
.animate-delay-9s {
  animation-delay: 9s;
}
.animate-delay-9_2s {
  animation-delay: 9.2s;
}
.animate-delay-9_4s {
  animation-delay: 9.4s;
}
.animate-delay-9_6s {
  animation-delay: 9.6s;
}
.animate-delay-9_8s {
  animation-delay: 9.8s;
}
.animate-delay-10s {
  animation-delay: 10s;
}
