.animation-duration-0_2s { animation-duration: 0.2s; }
.animation-duration-0_4s { animation-duration: 0.4s; }
.animation-duration-0_6s { animation-duration: 0.6s; }
.animation-duration-0_8s { animation-duration: 0.8s; }

.animation-duration-1s { animation-duration: 1s; }
.animation-duration-1_2s { animation-duration: 1.2s; }
.animation-duration-1_4s { animation-duration: 1.4s; }
.animation-duration-1_6s { animation-duration: 1.6s; }
.animation-duration-1_8s { animation-duration: 1.8s; }

.animation-duration-2s { animation-duration: 2s; }
.animation-duration-2_2s { animation-duration: 2.2s; }
.animation-duration-2_4s { animation-duration: 2.4s; }
.animation-duration-2_6s { animation-duration: 2.6s; }
.animation-duration-2_8s { animation-duration: 2.8s; }

.animation-duration-3s { animation-duration: 3s; }
.animation-duration-3_2s { animation-duration: 3.2s; }
.animation-duration-3_4s { animation-duration: 3.4s; }
.animation-duration-3_6s { animation-duration: 3.6s; }
.animation-duration-3_8s { animation-duration: 3.8s; }

.animation-duration-4s { animation-duration: 4s; }
.animation-duration-4_2s { animation-duration: 4.2s; }
.animation-duration-4_4s { animation-duration: 4.4s; }
.animation-duration-4_6s { animation-duration: 4.6s; }
.animation-duration-4_8s { animation-duration: 4.8s; }

.animation-duration-5s { animation-duration: 5s; }