@keyframes FadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}

.animate-fade-out {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-name: FadeOut;
}

@keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  opacity: 0;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.animate-fade-in.active {
  animation-name: FadeIn;
}

@keyframes FadeDown50 {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-down-50 {
  opacity: 0;
  transform: translateY(-50%);
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.animate-fade-down-50.active {
  animation-name: FadeDown50;
}

@keyframes FadeDown100 {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-down-100 {
  opacity: 0;
  transform: translateY(-100%);
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

.animate-fade-down-100.active {
  animation-name: FadeDown100;
}


@keyframes FadeRight100 {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fade-right-100 {
  opacity: 0;
  transform: translateX(100%);
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

.animate-fade-right-100.active {
  animation-name: FadeRight100;
}

@keyframes FadeRight50 {
  from {
    opacity: 0;
    transform: translateX(50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fade-right-50 {
  opacity: 0;
  transform: translateX(50%);
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.animate-fade-right-50.active {
  animation-name: FadeRight50;
}

@keyframes FadeLeft100 {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fade-left-100 {
  opacity: 0;
  transform: translateX(-100%);
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.animate-fade-left-100.active {
  animation-name: FadeLeft100;
}

@keyframes FadeLeft50 {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fade-left-50 {
  opacity: 0;
  transform: translateX(-50%);
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.animate-fade-left-50.active {
  animation-name: FadeLeft50;
}

@keyframes TranslateDown50 {
  from {
    transform: translateY(-50%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-translate-down-50 {
  transform: translateY(-50%);
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.animate-translate-down-50.active {
  animation-name: TranslateDown50;
}

@keyframes TranslateDown100 {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-translate-down-100 {
  transform: translateY(-100%);
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.animate-translate-down-100.active {
  animation-name: TranslateDown100;
}

@keyframes OpenDown {
  from {
    max-height: 0;
  }
  to {
    max-height: 85vh; /* Adjust as needed */
  }
}

.animate-open-down {
  max-height: 0;
  overflow: hidden;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.animate-open-down.active {
  animation-name: OpenDown;
}

@keyframes SlideUpLoop {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

.animate-slide-up-loop {
  animation-name: SlideUpLoop;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes SlideTop20px {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.animate-slide-up-20px {
  transform: translateY(20px);
  opacity: 0;
  animation-duration: 700ms;
  animation-fill-mode: forwards;
}

.animate-slide-up-20px.active {
  animation-name: SlideTop20px;
}

@keyframes PopUp {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-pop-up {
  opacity: 0;
  transform: scale(0.5);
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}

.animate-pop-up.active {
  animation-name: PopUp;
}

@keyframes AngleTranslateTop {
  0% {
    opacity: 0;
    transform: translateY(20vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-header-angle-top {
  opacity: 0;
  transform: translateY(20vh);
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
}

.animate-header-angle-top.active {
  animation-name: AngleTranslateTop;
}

@keyframes FadeDownLeft {
  0% {
    opacity: 1;
    transform: scale(1.2) translateY(20%) translateX(50%);
  }
  25% {
    opacity: 1;
    transform: translateX(0%);
  }
  90% {
    opacity: 0;
    transform: scale(1.2) translateY(100%) translateX(-50%);
  }
  90.01% {
    opacity: 1;
    transform: scale(1.2) translateY(20%) translateX(50%);
  }
  100% {
    opacity: 1;
    transform: scale(1.2) translateY(20%) translateX(50%);
  }
}

.animate-fade-down-left {
  transform-origin: bottom right;
  animation-name: FadeDownLeft;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes TrapeziumCycle {
  0% {
    opacity: 1;
    transform: translateX(100vw);
  }
  33% {
    opacity: 1;
  }
  66% {
    opacity: 0;
    transform: translateX(-25vw);
  }
  95% {
    opacity: 0;
    transform: translateX(-25vw);
  }
  95.01% {
    opacity: 0;
    transform: translateX(100vw);
  }
  100% {
    opacity: 0;
    transform: translateX(100vw);
  }
}

.animate-trapezium-cycle {
  opacity: 0;
  transform: translateX(100vw);
  animation-name: TrapeziumCycle;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

@keyframes TrapeziumCycleAr {
  0% {
    opacity: 1;
    transform: translateX(-100vw);
  }
  33% {
    opacity: 1;
  }
  66% {
    opacity: 0;
    transform: translateX(25vw);
  }
  95% {
    opacity: 0;
    transform: translateX(25vw);
  }
  95.01% {
    opacity: 0;
    transform: translateX(-100vw);
  }
  100% {
    opacity: 0;
    transform: translateX(-100vw);
  }
}

.animate-trapezium-cycle-ar {
  opacity: 0;
  transform: translateX(-100vw);
  animation-name: TrapeziumCycleAr;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}
